{
  "editor.minimap.enabled": false,
  "editor.tabSize": 2,
  "diffEditor.ignoreTrimWhitespace": true,
  "files.insertFinalNewline": true,
  "gitlens.historyExplorer.enabled": true,
  "emmet.includeLanguages": {
    "javascript": "javascriptreact",
    "vue-html": "html",
    "plaintext": "jade"
  },
  "javascript.updateImportsOnFileMove.enabled": "always",
  "editor.formatOnSave": true,
  "breadcrumbs.enabled": true,
  "explorer.confirmDragAndDrop": false,
  "git.autofetch": true,
  "files.trimTrailingWhitespace": true,
  "explorer.confirmDelete": false,
  "dart.lineLength": 120
}
